.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
parts/
src/*
test.plone_addon/
var/
# files
lib64
log.html
output.xml
pip-selfcheck.json
report.html
# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/collective

*.pyc

src/collective/ptg/unitegallery/resources/.DS_Store

src/collective/ptg/unitegallery/.DS_Store

src/collective/.DS_Store

src/collective/ptg/.DS_Store

src/collective/ptg/unitegallery/resources/themes/.DS_Store
